#login {
  animation: upDown 1s 0.5s 1 linear;
  align-items: center;
  margin-top: 20px;
  padding: 20px 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 1px solid #00ba83;
  border-radius: 5px;
}
.personImg {
  max-width: 100px;
}
.title {
  color: #84c225;
}
.pageName {
  text-decoration: none;
  align-items: center;
  /* display: flex;
    flex-direction: colu
    mn; */
}
.btn-login {
  background-color: #00ba83;
}

.btn-login:hover {
  background-color: #7bcfb6;
}

@media screen and (min-width: 720px) {
  #login {
    align-items: center;
    width: 500px;
  }
}
