.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.section1-text {
  display: flex;
  font-weight: 500;
  /* font-weight: bold; */
  color: white;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #84c225;
  cursor: pointer;
}
.section1-text:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to bottom right, #fcfeff, #8a8be9);
  background: -moz-linear-gradient(top left, #fcfeff, #8a8be9);
  background: -webkit-linear-gradient(top left, #fcfeff, #8a8be9);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* background-color: #84c225;
  color: white; */
}
